{% extends 'base.html.twig' %}

{% block title %}Connexion{% endblock %}

{% block body %}
    <section class="vh-100">
        <div class="mask d-flex align-items-center h-100 bc-gradient-1">
            <div class="container h-100">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-12 col-md-9 col-lg-7 col-xl-6">
                        <div class="card rounded shadow shadow-lg">
                            <div class="card-body p-5">
                                <h2 class="text-uppercase text-center mb-5">Connexion</h2>

                                <form method="post">
                                    {% if error %}
                                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                                    {% endif %}

                                    {% if app.user %}
                                        <div class="mb-3">
                                            Vous êtes connecté en tant que {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Déconnexion</a>
                                        </div>
                                    {% endif %}

                                    <div class="mb-3">
                                        <label class="form-label" for="email">Email</label>
                                        <input type="email" class="form-control" id="email" name="email" placeholder="email@gmail.com" value="{{ last_username }}" autocomplete="email" required autofocus>
                                    </div>

                                    <div class="mb-3">
                                        <label class="form-label" for="password">Mot de passe</label>
                                        <input type="password" class="form-control" id="password" name="password" placeholder="Password" autocomplete="current-password" required>
                                    </div>

                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary btn-lg border-0 w-75 mt-2">Connexion</button>
                                    </div>

                                    <p class="text-center text-muted mt-5 mb-0">
                                        Vous n'avez pas de compte ?
                                        <a href="{{ path('app_register') }}" class="fw-bold text-body"><u>Enregistrez-vous ici</u></a>
                                    </p>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
