{% extends 'base.html.twig' %}

{% block title %}Mes sessions{% endblock %}

{% block body %}
    <div class="container mt-4">
        <div class="card border-0 shadow">
            <div class="card-body p-4">
                {{ include('user/_userHeader.html.twig') }}

                <hr>

                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="d-flex justify-content-start align-items-center"><span class="material-icons-outlined me-2">view_timeline</span> Mes sessions :</h3>
                    <a class="btn btn-custom-blue" href="{{ path('app_session_new') }}">Créer une nouvelle session</a>
                </div>

                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <button class="nav-link active" id="nav-sessions-created-tab" data-bs-toggle="tab" data-bs-target="#nav-sessions-created" type="button" role="tab" aria-controls="nav-sessions-created" aria-selected="true">Organisateur</button>

                        <button class="nav-link" id="nav-sessions-joined-tab" data-bs-toggle="tab" data-bs-target="#nav-sessions-joined" type="button" role="tab" aria-controls="nav-sessions-joined" aria-selected="false">Participant</button>
                    </div>
                </nav>

                <div class="tab-content" id="nav-tabContent">
                    <div class="tab-pane pt-2 fade show active" id="nav-sessions-created" role="tabpanel" aria-labelledby="nav-sessions-created-tab">
                        <div class="row row-cols-2 justify-content-md-center mt-2">
                            {% if createdSessions|length %}
                                {% for session in createdSessions %}
                                    <div class="col pb-4">
                                        {{ include('user/_sessionCard.html.twig') }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col">
                                    <p>Aucune sessions créer</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>

                    <div class="tab-pane pt-2 fade" id="nav-sessions-joined" role="tabpanel" aria-labelledby="nav-sessions-joined-tab">
                        <div class="row row-cols-2 justify-content-md-center mt-2">
                            {% if joinedSessions|length %}
                                {% for session in joinedSessions %}
                                    <div class="col pb-4">
                                        {{ include('user/_sessionCard.html.twig') }}
                                    </div>
                                {% endfor %}
                            {% else %}
                                <div class="col">
                                    <p>Aucune sessions rejoins</p>
                                </div>
                            {% endif %}
                        </div>
                    </div>
                </div>

                <hr>

                <h3>Historique</h3>

                <table id="datatable" class="table table-striped w-100">
                    <thead>
                        <tr>
                            <th>Sujet</th>
                            <th>Description</th>
                            <th>Type</th>
                        </tr>
                    </thead>

                    <tbody>
                        {% for session in historique %}
                            <tr>
                                <td>{{ session.subject }}</td>
                                <td>{{ session.description is null ? '-' : session.description }}</td>
                                <td>{{ session.type }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('user_sessions') }}
{% endblock %}
